@import "../../globals.scss";

.section-other-products {
    margin: 2rem 0rem;

    .section__inner {
        h3 {
            text-align: center;
            padding: 1.5rem 0rem;
        }

        .swiper {
            justify-content: space-around;
        }

        .card { 
            display: flex;
            justify-content: center;
            align-items: center;
            
            a {
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            }

            h3 {
            display: inline-flexbox;
                color: $main-color;
            }
        }
    }
}