
/* Blog-cards */
@import "../../globals.scss";

.blog-cards { 
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin: 50px 0px;

    .blog-card {
        position: relative;
        width: 25%;

        img {
            object-fit: cover;
            width: 100%;
        }
        
    }

    .card__text {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 50%;
        width: 100%;
        top: 40%;
        left: 0%;
        text-align: center;

        h3 {
            color:$primary-color;
            font-weight: 400;
            font-size: calc(var(--font-size) + 12px);
        }

         a {
            color: $primary-color;
            position: relative;
            text-decoration: none;
            transition: border-bottom 0.3s ease;
        }
    
         a::after {
            content: "";
            position: absolute;
            display: inline-flex;
            background-color: $primary-color;
            height: 3px;
            width: 0;
            left: 0;
            bottom: -10px;
            transition: width 0.3s ease;
        }
    
         a:hover::after {
            width: 100%;
        }
    }    
}
  
@media screen and (max-width:900px) {  
    .section-blog-cards {
        .blog-cards {
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;

            .blog-card {
                width: 40%;
            }
        }
    }
}

@media screen and (max-width: 502px) {  
    .section-blog-cards {
        .blog-cards {
            flex-direction: column;
            .blog-card {
                width: 70%;
            }
        }
    }
}
