@import "../globals.scss";

.section-about-us {
    color: $main-color;
    text-align: center;
    ;

    h1 {
        color: $main-color;
        margin-top: 30px;
    }

    p,
    p:last-child {
        margin: 15px 0px;
    }

    .section__inner {
        border-top: 1px solid $main-color;
        border-bottom: 1px solid $main-color;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        min-height: 80vh;
    }
}