@import "../../globals.scss";

.section-image-text {
    .section__head {
        padding: 50px 0px;
        text-align: center;
      }

      .section__body {
        display: flex;
        justify-content: space-between;
        margin-bottom: 35px;
      }

      .section__image {
        text-align: center;

        img {
          max-height: 75vh;
        }
      }

      .section__text h2 {
        margin-bottom: 20px;
      }

      .section__text {
        max-width: 50vw;
        display: flex;
        flex-direction: column;
        justify-content:space-between;
      }
}


@media screen and (max-width: 900px) {
  .section-image-text {
   
      .section__body {
        display: block;
      }
      
      .section__image img {
        max-height: 75vh;
        margin-top: 35px;
      }

      .section__text {
        max-width: 100%;
      }
}
}

