
/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Base */

    $main-color: #3F0D12;
    $primary-color: #F8DDE0;
    $background-color:#fff;
    $background-color-dark:#202020;

:root {
    --font-size:16px;
    }

@media screen and (max-width: 600px) {
    :root {
    --font-size:12px;
    }
}

@media screen and (min-width: 1200px) {
    :root {
        --font-size:20px;
        }
}


h1 {
    color:$primary-color;
    font-size: calc(var(--font-size) + 34px);
    font-weight: 400;
}

h2 {                                        
    color:$main-color;
    font-size: calc(var(--font-size) + 20px);
    font-weight: 400;
    text-align: center;
}

body {
    background-color:$background-color;
    font-family: var(--font-roboto-mono), serif;
    font-size: calc(var(--font-size) + 4px);
    color:$main-color;
}

a {
    text-decoration: none;
    color: $primary-color;
}

p {
    margin-bottom: 18px;
}

p:last-child {
    margin-bottom: 0;
}

/* Shell */

.shell {
    padding: 0px 8%;
}


/* wraper */ 
.wrapper {

    max-width: 100vw;
    max-height: 100vh;
 }
/* logo */

.logo {
    text-transform: uppercase;
    font-size: calc(var(--font-size) + 20px);
}

//Icon

.icon{
    font-size: 32px;
    display: block;
    padding: 15px 0px;
}

/* line */

.line {
    height: 1px;
    background-color: $main-color;
    margin: 50px 0px;
}

/* btn */

.btn {
    border: 1px solid $primary-color;
    color: $primary-color;
    text-align: center;
    font-size: calc(var(--font-size) + 2px);
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 12px 12px;
    transition: all 0.5s;
    cursor: pointer;
}

.btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.btn:hover span {
    padding-right: 25px;
}

.btn:hover span:after {
    opacity: 1;
    right: 0;
}

.btn--reverse {
    display:block;
    min-width: 130px;
    color:$main-color;
    border: 1px solid $main-color;
}



