@import "../../globals.scss";

.footer {
    background-color: $background-color-dark;
    color: $primary-color;
    text-align: center;

    .footer__inner {
        padding-top: 25px;
    }

    .footer__content {
        display: flex;
        flex-wrap: wrap;
        padding: 15px 0px;
        min-height: 150px;

        justify-content: space-around;
        border-bottom: 1px solid $primary-color;
        border-top: 1px solid $primary-color;

        p {
            margin: 0;
         }
    }
    
    hr  {
        margin: 0 10px;
    }

    .footer__bar {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .location,
    .contact,
    .footer__nav ul 
    {
        margin-top: 10px;
        display: flex;
        min-height: 80%;
        flex-direction: column;
        justify-content: space-between;
        
    }

    .footer__bar {
        padding: 10px 0px ;
    }
}