
@import "../../globals.scss";

.hero {

    img {
        width: 100%;
        min-height: 80vh;
        object-fit: cover;
    }

    .hero__inner {
        position: absolute;
        z-index: 2;
        top: 25%;
        left: 55%;
    }

    .hero__content {
        display: flex;
        flex-direction: column;
        gap: 40px;
        text-align: center;
        color: $primary-color;
    }

    .hero__content {

        p {
            margin-bottom: 20px;
          }
    }
      
}
