@import "../../globals.scss";

.header-hero {
  position: absolute;
  color: $primary-color;
  width: 100%;
  padding: 2rem 0rem;

  .header__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .nav-desc {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 32px;
      height: 100%;
      justify-content: center;
      align-items: center;

      a {
        color: $primary-color;
        position: relative;
        text-decoration: none;
        transition: border-bottom 0.3s ease;
      }
      a::after {
        content: "";
        position: absolute;
        background-color: $primary-color;
        height: 3px;
        width: 0;
        left: 0;
        bottom: -10px;
        transition: width 0.3s ease;
      }
      a:hover::after {
        width: 100%;
      }
    }
  }

  .header__menu {
    display: none;
  }

  .nav-mob {
    display: none;
  }
}

.header {
  position: static;
  color: $main-color;
  width: 100%;
  padding: 2rem 0rem;


    a {
      color: $main-color;
    }


  .header__inner {
    display: flex;

    justify-content: space-between;
    flex-wrap: wrap;
  }

  .nav-desc ul {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
    height: 100%;
    justify-content: center;
    align-items: center;

    a::after {
      content: "";
      position: absolute;
      background-color: $main-color;
      height: 3px;
      width: 0;
      left: 0;
      bottom: -10px;
      transition: width 0.3s ease;
    }
    a:hover::after {
      width: 100%;
    }
  }

  .header__menu {
    display: none;
  }

  .nav-mob {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .header {
    .nav-desc ul {
      display: none;
    }

    .header__menu {
      display: block;
    }

    .nav-mob {
      display: block;
      position: absolute;
      backdrop-filter: blur(10px) brightness(80%) contrast(120%);
      margin-top: 37px;
      padding-left: 8vw;
      top: 0;
      left: 0;
      height: 80vh;
      width: 60vw;
      z-index: 3;
    }

    .nav-mob ul {
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: space-around;
      flex-direction: column;
      text-align: left;

      hr {
        background-color: $main-color;
      }
    }

    .nav-mob {
      ul {
        a {
          font-size: calc(var(--font-size) + 8px);
          text-transform: uppercase;
          color: $main-color;
        }
      }
    }
  }

  .header-hero {
    .nav-desc {
      ul {
        display: none;
      }
    }

    .header__menu {
      display: block;
    }

    .nav-mob {
      display: block;
      position: absolute;
      backdrop-filter: blur(10px) brightness(80%) contrast(120%);
      margin-top: 37px;
      padding-left: 8vw;
      top: 0;
      left: 0;
      height: 80vh;
      width: 60vw;
      z-index: 3;
    }

    .nav-mob {
      ul {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
      }
    }

    .nav-mob {
      ul {
        a {
          font-size: calc(var(--font-size) + 6px);
          color: $primary-color;
          text-transform: uppercase;
          position: relative;
          text-decoration: none;
          transition: border-bottom 0.3s ease;
        }
        a::after {
          content: "";
          position: absolute;
          background-color: $primary-color;
          height: 3px;
          width: 0;
          left: 0;
          bottom: -10px;
          transition: width 0.3s ease;
        }
        a:hover::after {
          width: 100%;
        }
      }
    }
  }
}
