
/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

ol,
ul {
    list-style: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* Base */

:root {
    --main-color: #3F0D12;
    --primary-color: #F8DDE0;
    --background-color:#DCDEE5;
  }
  
h1 {
    color:var(--primary-color);
    font-size: 51px;
    font-weight: 400;
}

h2 {
    color:var(--main-color);
    font-size: 34px;
    font-weight: 400;
    text-align: center;
}

body {
    background-color: var(--background-color);
    font-family: 'Playfair Display', serif;
    font-size: 20px;
    color:var(--main-color);
}

a {
    text-decoration: none;
    color: var(--primary-color);
}

p {
    margin-bottom: 18px;
}

p:last-child {
    margin-bottom: 0;
}

/* Shell */

.shell {
    padding: 0px 8%;
}

/* logo */

.logo {
    text-transform: uppercase;
    font-size: 36px;
}

/* btn */

.btn {
    border-radius: 4px;
    border: 1px solid var(--primary-color);
    color: #FFFFFF;
    text-align: center;
    font-size: 18px;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 12px 12px;
    transition: all 0.5s;
    cursor: pointer;
  }
  
  .btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btn span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .btn:hover span {
    padding-right: 25px;
  }
  
  .btn:hover span:after {
    opacity: 1;
    right: 0;
  }

.btn--reverse {
    display:block;
    min-width: 130px;
    color:var(--main-color);
    border: 1px solid var(--main-color);
}

/* Header */

.header {
    position: absolute;
    width: 100%;
    color: var(--primary-color);
    padding: 2rem 0rem;
}

.header .header__inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.header .nav ul {
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}
/* Hero */

.hero img {
    width: 100%;
    min-height: 80vh;
    object-fit: cover;
}

.hero .hero__inner {
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 55%;
}

.hero .hero__content {
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    color: var(--primary-color);
}

.hero .hero__content p {
    margin-bottom: 20px;
}

/* Section Image Text*/

.section-image-text  {
    padding: 50px 0px;
}

.section-image-text .section__head {
    padding: 50px 0px;
    text-align: center;
}

.section-image-text .section__body {
    display: flex;
    justify-content: space-between;
    margin-bottom: 35px;
}

.section-image-text .section__image img {
    max-height: 75vh;
}

.section-image-text .section__text h2 {
    margin-bottom: 20px;
}

.section-image-text .section__text {
    max-width: 50vw;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
}

/* Section products */

.section-products {
    margin: 50px 0px;
}

.section-products .section__head {
    text-align: center;
}

.section-products .section__inner  a {
    color: var(--main-color);
    position: relative;
    text-decoration: none;
    transition: border-bottom 0.3s ease;
  }
  
  .section-products .section__inner  a::after {
    content: "";
    position: absolute;
    background-color: var(--main-color);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: width 0.3s ease;
  }
  
  .section-products .section__inner  a:hover::after {
    width: 100%;
  }
  
  
.section-products .section__nav-categories  {
    padding: 20px 0px;
}

.section-products .section__nav-categories ul {
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

/* cards */

.cards {
  padding: 50px 0px;
}

.cards ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 100px;
}

.card {
    text-align: center;
    width: 20%;
}

.card img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0px 0px 23px -5px rgba(63,13,18,0.8);
    -webkit-box-shadow: 0px 0px 23px -5px rgba(63,13,18,0.8);
    -moz-box-shadow: 0px 0px 23px -5px rgba(63,13,18,0.8);
}

.card h3 {
    padding: 0px 2px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 2; 
    max-height: 3em; 
}